dl#question1 {
	margin: 0;
	padding: 0;
}

dl#question1 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question1 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question1 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question1 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question1 dd.active {
	display: block;
}
dl#question2 {
	margin: 0;
	padding: 0;
}

dl#question2 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question2 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question2 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question2 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question2 dd.active {
	display: block;
}
dl#question3 {
	margin: 0;
	padding: 0;
}

dl#question3 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question3 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question3 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question3 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question3 dd.active {
	display: block;
}
dl#question4 {
	margin: 0;
	padding: 0;
}

dl#question4 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question4 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question4 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question4 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question4 dd.active {
	display: block;
}
dl#question5 {
	margin: 0;
	padding: 0;
}

dl#question5 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question5 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question5 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question5 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question5 dd.active {
	display: block;
}
dl#question6 {
	margin: 0;
	padding: 0;
}

dl#question6 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question6 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question6 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question6 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question6 dd.active {
	display: block;
}
dl#question7 {
	margin: 0;
	padding: 0;
}

dl#question7 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question7 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question7 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question7 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question7 dd.active {
	display: block;
}
dl#question8 {
	margin: 0;
	padding: 0;
}

dl#question8 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question8 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question8 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question8 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question8 dd.active {
	display: block;
}
dl#question9 {
	margin: 0;
	padding: 0;
}

dl#question9 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question9 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question9 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question9 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question9 dd.active {
	display: block;
}
dl#question10 {
	margin: 0;
	padding: 0;
}

dl#question10 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question10 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question10 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question10 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question10 dd.active {
	display: block;
}
dl#question11 {
	margin: 0;
	padding: 0;
}

dl#question11 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question11 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question11 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question11 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question11 dd.active {
	display: block;
}
dl#question12 {
	margin: 0;
	padding: 0;
}

dl#question12 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question12 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question12 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question12 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question12 dd.active {
	display: block;
}
dl#question13 {
	margin: 0;
	padding: 0;
}

dl#question13 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question13 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question13 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question13 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question13 dd.active {
	display: block;
}
dl#question14 {
	margin: 0;
	padding: 0;
}

dl#question14 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question14 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question14 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question14 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question14 dd.active {
	display: block;
}
dl#question15 {
	margin: 0;
	padding: 0;
}

dl#question15 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question15 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question15 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question15 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question15 dd.active {
	display: block;
}
dl#question16 {
	margin: 0;
	padding: 0;
}

dl#question16 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question16 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question16 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question16 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question16 dd.active {
	display: block;
}
dl#question17 {
	margin: 0;
	padding: 0;
}

dl#question17 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question17 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question17 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question17 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question17 dd.active {
	display: block;
}
dl#question18 {
	margin: 0;
	padding: 0;
}

dl#question18 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question18 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question18 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question18 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question18 dd.active {
	display: block;
}
dl#question19 {
	margin: 0;
	padding: 0;
}

dl#question19 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question19 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question19 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question19 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question19 dd.active {
	display: block;
}
dl#question20 {
	margin: 0;
	padding: 0;
}

dl#question20 dt {
	margin: 0 0 0.5em 0;
	padding: 0.5em 0.5em 0.5em 30px;
	background: #f5f5f5 url(/images/icons/arrow.png) no-repeat 8px 7px;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	cursor: pointer;
}

dl#question20 dd {
	padding: 0.5em 0.5em 0.5em 40px;
	margin: 0 0 0.5em 2em;
	background: #FFF0FF url(/images/icons/cross.png) no-repeat 8px 8px;
	display: none;
}

dl#question20 dd.correct {
	background: #E6FFDD  url(/images/icons/tick.png) no-repeat 8px 8px;
}

dl#question20 dt.active {
	background: #AAA url(/images/icons/arrow.png) no-repeat 8px 7px;
	color: #FFF;
	font-weight: bold;
	border-top: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

dl#question20 dd.active {
	display: block;
}